<div class="custom-collection-product-grid">
  <div class="custom-filters">

  </div>
  <div class="container__c-product-grid">

  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-collection-product-grid.name",
    "class": "section",
    "settings": [

    ]
}
{% endschema %}