.custom-filters-form {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.collection__custom-filter {
  display: flex;
  flex-direction: column;
}

.collection__filter-label {
  font-size: 2rem;
  color: #074542;
  text-transform: uppercase;
}

.collection__filter-box {
  width: 28.5rem;
  height: 5.5rem;
  border: 1px solid #074542;
  border-radius: .5rem;
}

.collection__filter-box-title {
  font-size: 1.6rem;
  color: #074542;
  text-transform: uppercase;
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.collection__filter-box-title svg {
  width: 1.8rem;
  height: 1.8rem;
}

.collection__filter-box-title svg path {
  fill: #074542;
}

.collection__custom-sort-by {
  display: flex;
  flex-direction: column;
}

.custom-select {
  width: 28.5rem;
  height: 5.5rem;
  border: 1px solid #074542;
  border-radius: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  font-size: 1.6rem;
  background-color: #fff;
  border: 0;
  color: #074542;
  padding: 1rem;
  border-radius: .5rem;
  margin: 0;
  background-image: none;
  text-transform: uppercase;
  width: 28.5rem;
  height: 4.8rem;
}

.custom-select svg {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.custom-select svg path {
  fill: #074542;
}

.custom-select select:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.collection__reset-filter-btn {
  display: flex;
  align-items: end;
}

.collection__reset-filter-text {
  width: 28.5rem;
  height: 5.5rem;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #074542;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  gap: 1rem;
}

.collection__reset-filter-text a {
  text-decoration: none;
  color: #fff;
}

.hidden-radio-button {
  display: none;
}

.hidden-radio-button + label {
  cursor: pointer;
}

.hidden-radio-button + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.hidden-radio-button:checked + label::before {
  background-color: #000;
}

.li__remove-default-style {
  list-style-type: none;
}




