.review-container {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}

.review__section-header-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
}

.review__section-header {
  
}

.review__list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

}