.review-container {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}

.review__section-header-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
}

.review__section-header {
  font-size: 3.7rem;
  color: rgb(var(--color-foreground));
}

.review__list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 3.5rem;
}

.review__card-header {
  display: flex;
  
}