.review-container {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}

.review__section-header-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
}

.review__section-header {
  font-size: 3.7rem;
  color: rgb(var(--color-foreground));
}

.review__list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.review__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 3.5rem;
}

.review__card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.review__user-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.review__user-name {
  font-size: 1.9rem;
}

.review__verified-badge {
  font-size: 15px;
  color: #3aafa9;
  display: flex;
  justify-content: center;
  gap: 3px;
  align-items: center;
}

.review__verified-badge svg {
  width: 13px;
  height: 13px;
}

.review__verified-badge svg path {
  fill: #3aafa9;
}

.review__description {
  display: flex;
  justify-content: ;
}